body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

input, button {
  margin: 4px;
}
form {
  margin-bottom: 20px;
}

input {
  padding: 6px;
}

table {
  margin-top: 10px;
  border-collapse: collapse;
}

th {
  background: #222;
}
